@Model list<ProductApp.Models.Product>
<h2> Product List</h2>	
<table border="1"cellpadding="5">
	<tr>
		<th>Product Id</th>
		<th>Name</th>
		<th>Price</th>
	</tr>

	@foreach (var product in Model)
		{
			<tr>
				<td>@product.Id</td>
				<td>@product.Name</td>

			</tr>
		}
	</table>

